<section>
    <div class="section" id="about">
        <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">About</div><br>
                  <p>Hi I'm <strong>Ria George </strong><br>  I'm an full stack  
                    web designer/developer, skilled in HTML, CSS,JS,Angular,Nodejs,Express
                     and Mongodb . <br>I create professional, functional websites. </p>
                     <p class="text-muted"><i class="fa fa-map-marker text-right" aria-hidden="true"></i>&nbsp;<strong>Thiruvananthapuram</strong>
                      &nbsp; &nbsp; <i class="fa fa-envelope-o text-right"aria-hidden="true"></i>&nbsp;<strong>riageorge987@gmail.com</strong>
                      &nbsp; <i class="fa fa-birthday-cake text-right" aria-hidden="true"></i>&nbsp;<strong>02 May 1998</strong></p>
                  </div>
              </div>
              
              <div class="col-lg-6 col-md-12">
                <div class="code-img">
                  <img src="/portfolio/src/assets/about.jpg" alt="image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
