.row p{
    font-weight: 700px;
    color:rgb(42, 90, 212);
    
}
img{
    width: 300%;
    height: 300%;
}
section{
    margin-top: 8%;
}
.card-body{
    height: 450px;
    font-size:larger;
    line-height: 50px;
}