<section>
    <div class="section" id="about">
        <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
              <div class="col-lg-6 col-md-12">
                <div class="card-body">
                  <div class="h4 mt-0 title">Services</div><br>
                  
                  <div class="row">
                    <div class="service-card ">
                      <strong class="service-card-title">
                        <i class="fa fa-chevron-circle-right service-icon" aria-hidden="true"></i>Web Design
                      </strong>
                      <hr style="margin:3px !important;"> 
                      <p class="mb-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <br></div>
                  </div>

                  <div class="row">
                    <div class="service-card ">
                      <strong class="service-card-title">
                        <i class="fa fa-chevron-circle-right service-icon" aria-hidden="true"></i>Logo Design
                      </strong>
                      <hr style="margin:3px !important;"> 
                      <p class="mb-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <br></div>
                  </div>

                  <div class="row">
                    <div class="service-card ">
                      <strong class="service-card-title">
                        <i class="fa fa-chevron-circle-right service-icon" aria-hidden="true"></i>Software Development
                      </strong>
                      <hr style="margin:3px !important;"> 
                      <p class="mb-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                      <br></div>
                  </div>




                </div>
              </div>
              
              <div class="col-lg-6 col-md-12">
                <div class="code-img">
                  <img src="assets/projectlogo.jpg" alt="image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>