<section
id="home"
[ngStyle]="{ backgroundImage: 'url(assets/home.jpg)' }"
class="d-flex flex-column justify-content-center align-items-center"
>


  <div class="profile-page">
      <div class="wrapper">
        <div class="page-header page-header-small">
          <div class="page-header-image" data-parallax="true">
          </div>
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image">
    
                <a class="rounded-circle" href="#">
                  <img src="assets/dp.jpg" alt="Image">
                </a>
              </div>
              <div class="h2 title"  style="color: rgb(95, 16, 16)">&nbsp; &nbsp;Ria George</div>
              <p class="category text-white">Full stack Developer</p>
              <a class="btn btn-primary smooth-scroll mr-2" routerLink="/contact" data-aos="zoom-in"
                data-aos-anchor="data-aos-anchor">Hire Me</a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 


